<header>
	<h1>{{title}}</h1>
</header>
<div id="container">
	{{#each notes}}
		<div class="note" data-id="{{id}}">
        <div class="card"> 
            <div class="face front"> 
              <p>{{content}}</p>
              <div class="faBox">
	              <i class="fa fa-times"></i>
	              <i class="fa fa-tag"></i>
	              <i class="fa fa-pencil"></i>
              </div>
            </div> 
            <div class="face back"> 
              <form>
                <textarea class="noteArea"></textarea>
                <button class="saveButton">Save</button>
                <textarea  class="tagArea"></textarea>
                <button class="tagButton">Tags</button>
              </form>
            </div> 
        </div> 
    </div>
	{{/each}}
</div>
