<header>
	<h1>{{title}}</h1>
</header>
<div class="addContain">
    <form>
    <div class="colorWrapper">
      <input type='text' id="plusColor" />
    </div>
      <textarea class="contentBox" placeholder="Enter your note here"></textarea>
      <i class="fa fa-tag"></i>
        <input type="text" name="tag" class="tagBox" placeholder="category">
      <i class="fa fa-floppy-o"></i>
    </form>
    <div class="addBut">
      <i class="fa fa-plus"></i>
    </div>
  </div>
  <div class="tagContain">
    <div class="filterBut">
      <i class="fa fa-tags"></i>
    </div>
    <ul>
      {{#each notes}}
        <li>
          <a class="tagLink" href="{{user}}/{{tag}}">{{tag}}</a>
      {{/each}}

  </div>
  <div class="fa fa-sign-out"></div>
  
<div id="container" data-user="{{user}}">
	{{#each notes}}
		<div class="note" data-id="{{id}}" data-color:"{{color}}">
        <div class="card"> 
            <div class="face front" style="background-color:{{color}}"> 
              <p class="message">{{content}}</p>
              <div class="tagLabel">
                <i class="fa fa-tag"></i>
                <p class="tag">{{tag}}</p>

              </div>
              
                <i class="fa fa-times"></i>
	              
	              <i class="fa fa-pencil"></i>
              
            </div> 
            <div class="face back"> 
              
                <textarea class="noteArea"></textarea>
                <input class="tagBoxSmall"></input>
                <div class="iconBack">
                  <i class="fa fa-arrow-circle-left"></i>
                  <input type='text' class="colorPicker" />
                  <i class="fa fa-save"></i>
                  <div class="colorPicker"></div>
                </div>
            </div> 
        </div> 
    </div>
	{{/each}}
</div>
