<header>
	<h1>{{title}}</h1>
</header>
<div id="loginContainer">
	<div id="insideContainer">
		<div class="card" style="background-color:"> 
			<div class="face front"> 
				<form class="login" method="POST" action="/login">
					<span class="messageSpan">Login</span>
					<input type="text" name="username" placeholder="username">
					<input type="password" name="password" placeholder="password">
					<input type="submit">
					<a onclick="return false" href="">Create Account</a>
				</form>
			</div> 
			<div class="face back"> 
				<form class="signUp">
					Create Account
					<input type="text" name="username" placeholder="username">
					<input type="password" name="password" placeholder="password">
					<input type="password" name="confirm" placeholder="confirm password">
					<input onclick="return false" type="submit" value="Sign Up">
				</form>
			</div> 
		</div> 
	</div>	
</div>